<div class="container">
  <div class="card text-white bg-secondary mb-3 mt-3 mx-auto" style="max-width: 20rem;">
    <div class="card-header text-center fw-bold fs-5">Add a product</div>
    <div class="card-body">
      <form [formGroup]="formAddControl" (ngSubmit)="addProduct()">
        <input formControlName="name" type="text" class="form-control" placeholder="name">
        <span style="font-size: 12px;"
          *ngIf="formAddControl.get('name')?.hasError('required') && formAddControl.get('name')?.touched">The field is
          <strong>required</strong>
        </span>

        <input formControlName="description" type="text" class="form-control mt-3" placeholder="Description">
        <span style="font-size: 12px;"
          *ngIf="formAddControl.get('description')?.hasError('required') && formAddControl.get('description')?.touched">
          The field is<strong>required</strong>
        </span>

        <input formControlName="price" type="number" class="form-control mt-3" placeholder="Price">
        <span style="font-size: 12px;"
          *ngIf="formAddControl.get('price')?.hasError('required') && formAddControl.get('price')?.touched">The field is
          <strong>required</strong>
        </span>

        <input formControlName="stock" type="number" class="form-control mt-3" placeholder="Stock">
        <span style="font-size: 12px;"
          *ngIf="formAddControl.get('stock')?.hasError('required') && formAddControl.get('stock')?.touched">The field is
          <strong>required</strong>
        </span>

        <div class="w-full d-flex flex-row justify-content-center mt-3">
          <button type="submit" class="btn btn-primary" style="width: 100px">Accept</button>
          <a routerLink="" ariaCurrentWhenActive="page">
            <button type="button" class="btn btn-danger  ms-3" style="width: 100px">Back</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
